.header__functional a:hover {
    color: #202336;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #FB8F1D;
    animation: wiggle 2s linear;
}

.featuredDestinations__text span:hover {
    text-decoration: underline;
}

.holidayFinder__selects select:focus {
    border-color: blue;
}

  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-10deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.featuredDestinations__images span:hover h3, .featuredDestinations__images span:hover p {
    animation: raiseText .7s linear;
}

  @keyframes raiseText {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-0.5vh);
    }
    
    40% {
        transform: translateY(0.5vh);
    }

    60% {
      transform: translateY(-0.25vh);
    }

    80% {
      transform: translateY(0.25vh);
    }

    100% {
        transform: translateY(0);
    }
  }

.sticks:hover + .hamburgerContent {
  display: flex;
}

.sticks:hover .stick:nth-child(1) {
  transform: rotate(45deg);
  translate: 0 1vh;
}

.sticks:hover .stick:nth-child(2) {
  transform: scaleY(0);
}

.sticks:hover .stick:nth-child(3) {
  transform: rotate(-45deg);
  translate: 0 -1vh;
}

.stick:nth-child(1) {
  transition: transform 0.4s ease-in-out;
}

.stick:nth-child(2) {
  transition: transform 0.2s ease-in-out;
}

.stick:nth-child(3) {
  transition: transform 0.4s ease-in-out;
}

.hamburgerContent {
  animation: topSlideIn 2s;
}

@keyframes topSlideIn {
  0% {
    transform: translateY(10vh);
    opacity: 0%;
  }

  100% {
    transform: translateY(0vh);
    opacity: 100%;
  }
}