@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'Playfair Display';
    src: url(assets/fonts/PlayfairDisplay-Bold.otf);
}

@font-face {
    font-family: 'Mulish';
    src: url(assets/fonts/Mulish-ExtraLight.ttf);
}

* {
    padding: 0;
    margin: 0;
    transition: 0.4s;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 4vh 10vw 6vh;
    width: 80vw;
}

header img {
    height: 3.5%;
}

.header__functional {
    width: 100%;
    padding-right: 5%;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

.header__functional nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 0 3%;
}

.header__functional a {
    font-size: 1.02vw;
    font-family: 'Inter';
    color: #B8BECD;
    text-decoration: none;
}

.header__functional a:hover {
    color: #202336;
    cursor: pointer;
}

button {
    border: solid #FB8F1D 1px;
    background-color: #FB8F1D;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #FB8F1D;
}

.header__functional button {
    font-size: 0.98vw;
    width: 8.25vw;
    height: 4.4vh;
}

.header__functional button:last-child {
    margin-left: 1.5%;
}

h1 {
    font-size: 3.5vw;
    line-height: 4.5vw;
}

h1, h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
}

.topPage {
    padding: 0 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.topPage img {
    width: 40vw;
    height: 38vw;
    align-self: center;
}

.holidayFinder {
    width: 37%;
    height: 55vh;
}

.holidayFinder p {
    margin: 7vh 0;
    font-family: 'Inter';
    font-weight: 900;
}

.holidayFinder p::after {
    content: "";
    display: block;
    margin-top: 2vh;
    background-color: #202336;
    border-radius: 4px;
    width: 1.8vw;
    height: 0.2vh;
}

.holidayFinder__selects {
    width: 100%;
    height: 17vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.holidayFinder__selects select { 
    width: 47%;
    height: 30%;
    border: solid #AFB0B9 0.8px;
    border-radius: 6px;
    color: #4A4C53;
    font-family: 'Inter';
    padding: 0 1.5vw;
    appearance: none;
    cursor: pointer;
}

.holidayFinder__selects select:focus {
    border-color: blue;
}

.holidayFinder button {
    width: 11.25vw;
    height: 5.2vh;
    margin-top: 2vh;
}

.infoPage {
    background-color: #F8F8F8;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.infoPage img {
    height: 30vw;
    width: 37vw;
}

.infoPage__main {
    display: flex;
    flex-flow: column wrap;
    margin-left: 5vw;
    width: 35vw;
}

.infoPage__main h2 {
    line-height: 5vh;
    font-size: 3.6vh;
}

.infoPage__main p {
    width: 70%;
    margin: 3vh 0 4vh;
    font-family: 'Mulish';
    font-size: 1.7vh;
    color: #7D7987;
}

.infoPage__main button {
    width: 10.25vw;
    height: 4.8vh;
}

.lowerPage {
    padding: 8% 14%;
}

.featuredDestinations {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.featuredDestinations__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6%;
}

.featuredDestinations__text h2 {
    font-size: 3.6vh
}

.featuredDestinations__text a {
    font-size: 1.7vh;
    color: #FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.featuredDestinations__text span:hover {
    text-decoration: underline;
}

.featuredDestinations__images {
    display: flex;
    justify-content: space-between;
}

.featuredDestinations__images div {
    height: 35vh;
    width: 16.3vw;
    background-size: 16.3vw 35vh;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
}

.featuredDestinations__images span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    border-radius: 0 6px 0 0;
    width: 50%;
    font-family: 'Inter';
}

.featuredDestinations__images h3 {
    font-size: 1vw;
    line-height: 200%;
}

.featuredDestinations__images p {
    font-size: 0.82vw;
    color: #80918E;
}

.rajaAmpat {
    background-image: url(assets/images/Raja\ Ampat.png);
}

.fanjingshan {
    background-image: url(assets/images/Fanjingshan.png);
}

.vevey {
    background-image: url(assets/images/Vevey.png);
}

.skadar {
    background-image: url(assets/images/Skadar.png);
}

footer {
    background-color: #F8F8F8;
    height: 19vh;
}

.footerContent {
    padding: 0 10%;
    height: 100%;
}

.footerCeiling {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #C4C4C4 0.4px;
}

.footerCeiling p {
    font-family: 'Mulish';
    font-size: 1.7vh;
    color: #848484;
}

.footerIcons {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
}

.footerIcons nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.footerIcons img {
    cursor: pointer;
}
