@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-Regular.otf);
}

@font-face {
    font-family: 'Playfair Display';
    src: url(assets/fonts/PlayfairDisplay-Bold.otf);
}

@font-face {
    font-family: 'Mulish';
    src: url(assets/fonts/Mulish-ExtraLight.ttf);
}

* {
    padding: 0;
    margin: 0;
    transition: 0.4s;
}

button {
    border: solid #FB8F1D 1px;
    background-color: #FB8F1D;
    color: white;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #FB8F1D;
}

h1, h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    height: 4.3vh;
    margin-bottom: 8vh;
    padding-right: 5.3vh;
}

header > img {
    height: 4.4vh;
    width: 4.4vh;
}

header > nav {
    display: flex;
    width: 52wv;
    align-items: center;
}

footer {
    background-color: #F8F8F8;
    height: 19vh;
}

.top {
    padding: 5.3vh 6.5vw 17.5vh 11.9vw;
}

.ceiling__pages {
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.9vh;
    font-family: 'Inter';
    color: #B8BECD;
}

.ceiling__pages > p:hover {
    color: #202336;
    cursor: pointer;
}

.ceiling__authentication {
    margin-left: 0.8vw;
    display: inline;
}

.ceiling__authentication > button {
    width: 8.25vw;
    height: 4.4vh;
    margin: 0 1.1vw 0 0;
}

.topBody {
    margin-top: 3.2vh;
    display: flex;
    justify-content: space-between;
}

.topBody > img {
    height: 65vh;
}

.holidayFinder {
    margin-top: 4.5vh;
    width: 30vw;
}

.holidayFinder > p {
    margin: 7.5vh 0;
    font-family: 'Inter';
    font-weight: 900;
}

.holidayFinder > p::after {
    content: "";
    display: block;
    margin-top: 2vh;
    background-color: #202336;
    border-radius: 4px;
    width: 1.8vw;
    height: 0.2vh;
}

.holidayFinder > h1 {
    font-size: 6.4vh;
    line-height: 8vh;
}

.holidayFinder__selectors {
    width: 29vw;
    height: 17vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.holidayFinder__selectors > select { 
    width: 13.75vw;
    height: 5.2vh;
    border: solid #AFB0B9 0.8px;
    border-radius: 6px;
    color: #4A4C53;
    font-family: 'Inter';
    padding: 0 1.5vw;
    appearance: none;
}

.holidayFinder__selectors > select:hover {
    cursor: pointer;
}

.holidayFinder__selectors > select:focus {
    border-color: blue;
}

.holidayFinder > nav > button {
    width: 11.25vw;
    height: 5.2vh;
    margin-top: 2vh;
}

.infoPage {
    background-color: #F8F8F8;
    padding: 11.1vh 15.5vw 12.9vh 8.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoPage > img {
    height: 53.4vh;
}

.infoPage__main {
    padding: 0 6.3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infoPage__main > h2 {
    line-height: 5vh;
    font-size: 3.6vh;
}

.infoPage__main > p {
    width: 28vw;
    margin: 3vh 0 4vh;
    font-family: 'Mulish';
    font-size: 1.7vh;
    color: #7D7987;
}

.infoPage__main > nav > button {
    width: 10.25vw;
    height: 4.8vh;
}

.lowerPage {
    padding: 16.3vh 15vw 14vh 15vw;
}

.featuredDestinations {
    height: 46.5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.featuredDestinations__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.featuredDestinations__text > h2 {
    font-size: 3.6vh
}

.featuredDestinations__text > nav > a {
    font-size: 1.7vh;
    color: #FB8F1D;
    font-family: 'Inter';
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.featuredDestinations__text > nav > a > span:hover {
    text-decoration: undtop;
}

.featuredDestinations__images {
    display: flex;
    justify-content: space-between;
}

.featuredDestinations__images > div {
    height: 35vh;
    width: 16.3vw;
    background-size: 16.3vw 35vh;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
}

.featuredDestinations__images > div > span {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 0 6px 0 0;
    height: 5.6vh;
    width: 7.5vw;
    font-family: 'Inter';
}

.featuredDestinations__images > div > span > h3 {
    font-size: 1.8vh;
}

.featuredDestinations__images > div > span > p {
    font-size: 1.5vh;
    color: #80918E;
}

.rajaAmpat {
    background-image: url(assets/images/Raja\ Ampat.png);
}

.Fanjingshan {
    background-image: url(assets/images/Fanjingshan.png);
}

.Vevey {
    background-image: url(assets/images/Vevey.png);
}

.Skadar {
    background-image: url(assets/images/Skadar.png);
}

.footerContent {
    padding: 0 11.9vw;
    height: 100%;
}

.footerCeiling {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #C4C4C4 0.4px;
}

.footerCeiling > p {
    font-family: 'Mulish';
    font-size: 1.7vh;
    color: #848484;
}

.footerIcons {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
}

.footerIcons > nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.footerIcons > nav > img:hover {
    cursor: pointer;
}
